.carouselItem {
  cursor: pointer;
  margin: 2px;
  opacity: 0.85;
  transition: opacity 0.8s;
}

.carouselItem:hover {
  margin: 0px;
  opacity: 1;
  border: 2px solid #F0131E;
}

.carouselContainer:hover .carouselItem:not(:hover) {
  opacity: 0.7;
}

.carouselContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselItemFigcaption {
  padding: 4px;
  max-width: 200px;
  overflow: hidden;
  margin-top: -26px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color:rgba(0, 0, 0, 0.8);
}

.carouselArrow {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 3.2vw;
  transition: all 0.3s;
}

.carouselArrow:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 3.8vw;
}

.carouselArrowContainer {
  width: 5vw;
  z-index: 100;
  position: sticky;
  opacity: 0;
  transition: opacity 0.8s;
}

.carouselContainer:hover .carouselArrowContainer {
  opacity: 1;
}

.carouselArrowContainerLeft {
  left: 0;
  background: linear-gradient(90deg, #111, transparent);
}

.carouselArrowContainerRight {
  right: 0;
  background: linear-gradient(270deg, #111, transparent);
}