.container .hero {
  opacity: 1;
  transition: opacity 0.8s;
}

.container:hover .hero:not(:hover) {
  opacity: 0.8;
}

.container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.arrow {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 3.2vw;
  transition: all 0.3s;
}

.arrow:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 3.8vw;
}

.arrowContainer {
  width: 5vw;
  z-index: 100;
  position: sticky;
  opacity: 0;
  transition: opacity 0.8s;
}

.container:hover .arrowContainer {
  opacity: 1;
}

.arrowContainerLeft {
  left: 0;
  background: linear-gradient(90deg, #141414, transparent);
}

.arrowContainerRight {
  right: 0;
  background: linear-gradient(270deg, #141414, transparent);
}
