html,
body {
  background-color: #111;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, li {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
  margin: 0.5rem 0px;
}
